AppData/
Application Data/
Cookies/
Local Setting/
My Documents/
NetHood/
PrintHood/
Recent/
sendTo/
Start Menu/
Templates/
OneDrive/
Videos/
Desktop/
Downloads/
Favorites/
Music/
Pictures/
Sahiem.1nk
.vscode/
node_modules/
